@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-flex{
    display: flex;
}

.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    padding: 10px 15px;
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.5rem;
    color: #ffffff;
    border: none;
    margin: 20px 0;
    border-radius: 10px;
}
.primary-btn:hover{
    background-color: rgb(185, 103, 9);
    transition: all linear .5s;
}
main{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
main > section{
    margin-top: 130px;
}
/* nav style */

.navber{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 900;
    font-size: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
}

.navber, .banner{
    max-width: 1100px;
    margin: 0 auto;
}

/* banner style */

.banner-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}


/* teams sections  */

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    border-radius: 20px;
}
.our-features{
    margin-left: 50px;
    max-width: 500px;
}

.feature-title{
    font-size: 2rem;
    font-weight: 800;
}
#quick-list{
    font-weight: 500;
    color: #727272;
    
}
#feature{
    color:rgba(255, 144, 14, 1) ;
}


/* small screen responsive  */
@media screen and (max-width:576px) {
    .navber,
     .nav-links,
     .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}
/* medium screen responsive  */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
